<div class="container mt-5">
  <div class="jumbotron text-center">
    <h1>Welcome to Ruby on Rails on Railway</h1>
    <p>You are logged in as: <%= Current.user.email_address %></p>
    
    <div class="mt-4">
      <%= button_to "Log out", session_path, method: :delete, class: "btn btn-danger" %>
    </div>
  </div>
</div>
